* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", Helvetica, sans-serif;
}

$text-resalt: rgb(231, 101, 122);
$text: rgb(234, 231, 231);
$text-semi-shadow: rgba(234, 231, 231, 0.9);
$text-shadow: rgba(234, 231, 231, 0.8);
$main-black: #111;
$black-transparent: rgba(17, 17, 17, 0.8);
$black-shadow: rgb(45, 44, 44);

@mixin fondo-opt-1 {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin fondo-opt-2 {
  background: #200122;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Animacion de maquina de escribir */
@mixin typing-animation($steps-animation: 13, $width-animation: 12ch) {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: $width-animation;
  animation: typing 2s steps($steps-animation), blink .5s infinite step-end alternate;
  overflow: hidden;
  margin-left: 5px;
}

@mixin fadein-animation($duration: 4s, $delay: 1s) {
  animation: fadein $duration infinite;
  animation-delay: $delay;
}

/* Menu colapsable xd */
@mixin menu-styles($width: 0px, $color: #111) {
  height: 100%;
  width: $width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $main-black;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5s;

  li {
    color: $color;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  12.5% {
    opacity: 0.25;
  }

  25% {
    opacity: 0.50;
  }

  37.5% {
    opacity: 0.75;
  }

  50% {
    opacity: 1;
  }

  62.5% {
    opacity: 0.75;
  }

  75% {
    opacity: 0.50;
  }

  87.5% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}


body {
  @include fondo-opt-2();
}

/* Header */
.container-header {
  margin: 3%;

  h2 {
    font-weight: 500;
    font-size: 38px;
  }
}

/* Navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  h3 {
    margin: 10px;
    font-size: 22px;
    padding: 10px;
    font-weight: normal;
  }

  span {
    margin: 10px;
    transition: 0.3s;
  }

  span:hover {
    cursor: pointer;
  }

}

/* menu colapsable */
.sidebar {
  @include menu-styles();
}

.sidebar-open {
  @include menu-styles(250px, $text);

  .menu {
    margin: 20px;

    ul {
      margin-top: 20px;
      list-style-type: none;
    }

    li {
      padding: 10px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 20px;
      color: $text-shadow;
      border-bottom: 2px solid $black-shadow;
      transition: 0.3s;
    }

    li:hover {
      color: $text-resalt;
      cursor: pointer;
      transform: scale(1.1, 1.1);
    }

  }
}

/* Flecha de siguiente seccion */
.arrow-down {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 40px;
  @include fadein-animation(6s, 0s);
  cursor: pointer;
}

/* Carta de presentacion */
.card-presentation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15%;
  justify-content: center;
  align-items: center;

  .presentation-info {
    max-width: 500px;
  }

  h2 {
    font-weight: 500;
    font-size: 38px;
    @include typing-animation(24, 19ch);

    span {
      color: $text-resalt;
    }
  }

  p {
    margin: 20px;
    font-size: 20px;
    color: $text;
  }

  img {
    width: 276px;
    height: auto;
    border-radius: 50%;
  }
}

/* Tarjeta de informacion */
.card-info {
  /* (debe cambiar en responsive) */
  margin-top: 450px;
  background-color: $black-transparent;
  border-bottom: 2px solid $black-shadow;
  border-top: 2px solid $black-shadow;

  .info {
    margin: 5%;
    margin-bottom: 0;

    h2 {
      font-weight: normal;
      font-size: 30px;
    }

    p {
      margin: 30px;
      margin-bottom: 0;
      font-size: 20px;
      color: $text-semi-shadow;

      span {
        color: $text-resalt;
      }
    }
  }
}

.card-habilidades {
  margin: 5%;
  margin-top: 80px;

  .habilidades-info {
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
    margin-top: 50px;
    background-color: rgba(17, 17, 17, 0.5);
    border-radius: 2px;

    .main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .content {
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 10px;

      img {
        width: 86px;
        height: auto;
        margin: 10px;
        transition: 0.3s;
      }

      img:hover {
        transform: scale(1.2, 1.2);
      }
    }

    .arrow {
      display: flex;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;
    }

    .arrow:hover {
      transform: scale(1.3, 1.3);
    }

    .title {
      .img {
        display: flex;
        justify-content: center;
      }

      ul {
        list-style-type: none;
      }

      li {
        margin: 10px;
        font-size: 18px;
        color: $text-shadow;
        cursor: pointer;
      }

      .li-selected {
        color: $text-resalt;
      }

    }

    img {
      width: 126px;
      height: auto;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 30px;
  }

  h3 {
    font-weight: normal;
    font-size: 22px;
    margin-top: 10px;
  }
}


/* Diseno responsivo */
@media screen and (max-width: 850px) {

  .card-presentation {
    margin: 0;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 35%;
    justify-content: center;
    align-items: center;

    img {
      width: 196px;
      height: auto;
      border-radius: 50%;
    }

    .presentation-info,
    h2 {
      max-width: 250px;
      margin-top: 20px;
    }

    h2 {
      display: flex;
      flex-wrap: wrap;
    }

  }

}